<body>
    <div class="contain">
		<div class="scroll-view">
			<div class="row-view">
				<div class="view">
					<div class="column">
						<span class="text" >
							Tất cả sản phẩm
						</span>
						<span class="text2" >
							Gạo đặc sản
						</span>
						<span class="text3" >
							Gạo hữu cơ
						</span>
						<span class="text3" >
							Gạo dinh dưỡng
						</span>
						<span class="text4" >
							Gạo tiêu dùng
						</span>
					</div>
				</div>
				<div class="column2">
					<div class="view2">
						<span class="text5" >
							Gạo ngon cho mọi nhà
						</span>
					</div>
					<div class="view3">
						<div class="column3">
							<div class="row-view2">
								<div class="column4">
									<div class="column5">
										<span class="text6" >
											Gạo Trắng - Organic White Rice
										</span>
										<img
											src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/qt8z1rdx.png" 
											class="image"
										/>
										<div class="row-view3">
											<div class="column6">
												<span class="text7" >
													4.5k đã bán
												</span>
												<span class="text8" >
													135.000 VND
												</span>
											</div>
											<div class="view4">
												<span class="text9" >
													-30%
												</span>
											</div>
											<img
												src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/6k9rx934.png" 
												class="image2"
											/>
										</div>
									</div>
									<img
										src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/m0t5rit6.png" 
										class="absolute-image"
									/>
								</div>
								<div class="column4">
									<div class="column7">
										<span class="text6" >
											Gạo Trắng - Organic White Rice
										</span>
										<img
											src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/lpxrqf5u.png" 
											class="image"
										/>
										<div class="row-view3">
											<div class="column6">
												<span class="text7" >
													4.5k đã bán
												</span>
												<span class="text8" >
													135.000 VND
												</span>
											</div>
											<div class="view4">
												<span class="text9" >
													-30%
												</span>
											</div>
											<img
												src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/phn34q7r.png" 
												class="image2"
											/>
										</div>
									</div>
									<img
										src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/14q7fak7.png" 
										class="absolute-image"
									/>
								</div>
								<div class="column4">
									<div class="column7">
										<span class="text10" >
											Gạo Trắng - Organic White Rice
										</span>
										<img
											src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/v1zunwk9.png" 
											class="image"
										/>
										<div class="row-view3">
											<div class="column6">
												<span class="text7" >
													4.5k đã bán
												</span>
												<span class="text8" >
													135.000 VND
												</span>
											</div>
											<div class="view4">
												<span class="text9" >
													-30%
												</span>
											</div>
											<img
												src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/r3b14m3s.png" 
												class="image2"
											/>
										</div>
									</div>
									<img
										src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/5kv9gqm6.png" 
										class="absolute-image"
									/>
								</div>
							</div>
							<div class="row-view2">
								<div class="column4">
									<div class="column5">
										<span class="text11" >
											Gạo Trắng - Organic White Rice
										</span>
										<img
											src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/cgx6tj9k.png" 
											class="image3"
										/>
										<div class="row-view3">
											<div class="column6">
												<span class="text7" >
													4.5k đã bán
												</span>
												<span class="text8" >
													135.000 VND
												</span>
											</div>
											<div class="view4">
												<span class="text9" >
													-30%
												</span>
											</div>
											<img
												src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/y3bgih0h.png" 
												class="image2"
											/>
										</div>
									</div>
									<img
										src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/ggwttmuv.png" 
										class="absolute-image"
									/>
								</div>
								<div class="column4">
									<div class="column7">
										<span class="text11" >
											Gạo Trắng - Organic White Rice
										</span>
										<img
											src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/ay4e0mi6.png" 
											class="image3"
										/>
										<div class="row-view3">
											<div class="column6">
												<span class="text7" >
													4.5k đã bán
												</span>
												<span class="text8" >
													135.000 VND
												</span>
											</div>
											<div class="view4">
												<span class="text9" >
													-30%
												</span>
											</div>
											<img
												src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/oq97ivgl.png" 
												class="image2"
											/>
										</div>
									</div>
									<img
										src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/gzc0nfju.png" 
										class="absolute-image"
									/>
								</div>
								<div class="column4">
									<div class="column7">
										<span class="text12" >
											Gạo Trắng - Organic White Rice
										</span>
										<img
											src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/8l4ktqyi.png" 
											class="image3"
										/>
										<div class="row-view3">
											<div class="column6">
												<span class="text7" >
													4.5k đã bán
												</span>
												<span class="text8" >
													135.000 VND
												</span>
											</div>
											<div class="view4">
												<span class="text9" >
													-30%
												</span>
											</div>
											<img
												src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/j0hr92cj.png" 
												class="image2"
											/>
										</div>
									</div>
									<img
										src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/526pig23.png" 
										class="absolute-image"
									/>
								</div>
							</div>
							<div class="row-view">
								<div class="column4">
									<div class="column8">
										<span class="text11" >
											Gạo Trắng - Organic White Rice
										</span>
										<img
											src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/yg3di1m6.png" 
											class="image"
										/>
										<div class="row-view3">
											<div class="column6">
												<span class="text7" >
													4.5k đã bán
												</span>
												<span class="text8" >
													135.000 VND
												</span>
											</div>
											<div class="view5">
												<span class="text9" >
													-30%
												</span>
											</div>
											<img
												src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/5wg9hgps.png" 
												class="image4"
											/>
										</div>
									</div>
									<img
										src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/l0nrvrcj.png" 
										class="absolute-image"
									/>
								</div>
								<div class="column4">
									<div class="column9">
										<span class="text11" >
											Gạo Trắng - Organic White Rice
										</span>
										<img
											src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/wloohqnh.png" 
											class="image"
										/>
										<div class="row-view3">
											<div class="column6">
												<span class="text7" >
													4.5k đã bán
												</span>
												<span class="text8" >
													135.000 VND
												</span>
											</div>
											<div class="view5">
												<span class="text9" >
													-30%
												</span>
											</div>
											<img
												src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/23x7xbfa.png" 
												class="image4"
											/>
										</div>
									</div>
									<img
										src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/fgcjpcgw.png" 
										class="absolute-image"
									/>
								</div>
								<div class="column4">
									<div class="column9">
										<span class="text12" >
											Gạo Trắng - Organic White Rice
										</span>
										<img
											src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/hcz5c1mm.png" 
											class="image"
										/>
										<div class="row-view3">
											<div class="column6">
												<span class="text7" >
													4.5k đã bán
												</span>
												<span class="text8" >
													135.000 VND
												</span>
											</div>
											<div class="view5">
												<span class="text9" >
													-30%
												</span>
											</div>
											<img
												src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/kc85ujfl.png" 
												class="image4"
											/>
										</div>
									</div>
									<img
										src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/5aig6uc4.png" 
										class="absolute-image"
									/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>