<body>
    <div class="contain">
    <div class="scroll-view">
        <div class="column">
            <div class="view">
                <div class="row-view">
                    <span class="text" >
                        Tiếng Việt
                    </span>
                    <img
                        src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/ay8qdfuk.png" 
                        class="image"
                    />
                </div>
            </div>
            <div class="row-view2">
                <img
                    src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/qmk3tb05.png" 
                    class="image2"
                />
                <div class="row-view3">
                    <span class="text2" >
                        Trang chủ
                    </span>
                    <span class="text2" >
                        Sản phẩm
                    </span>
                    <span class="text3" >
                        Về chúng tôi
                    </span>
                    <span class="text2" >
                        Blogs
                    </span>
                    <span class="text4" >
                        Liên hệ
                    </span>
                </div>
                <div class="row-view4">
                    <span class="text5" >
                        Tìm kiếm
                    </span>
                    <div class="view2">
                        <img
                            src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/zlrxl0k4.png" 
                            class="image3"
                        />
                    </div>
                </div>
                <img
                    src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/sm9e4hcu.png" 
                    class="image4"
                />
                <img
                    src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/0yt06vg5.png" 
                    class="image5"
                />
            </div>
        </div>
        <div class="column2">
            <div class="view3">
                <span class="text6" >
                    Hạt gạo tròn<br>Nghĩa tình vuông
                </span>
            </div>
            <span class="text7" >
                Gạo sạch, an toàn, chuẩn chất lượng VietGAP.<br>Hạt dẻo thơm, giữ trọn vị quê hương.
            </span>
            <div class="view4">
                <span class="text8" >
                    Cơm thơm gạo sạch, ấm bát nghĩa tình
                </span>
            </div>
            <div class="row-view5">
                <button class="button"
                    onclick="alert('Pressed!')">
                    <span class="text4" >
                        Mua hàng
                    </span>
                </button>
                <button class="button2"
                    onclick="alert('Pressed!')">
                    <span class="text9" >
                        Khám phá ngay
                    </span>
                </button>
            </div>
        </div>
        <span class="text10" >
            Bữa cơm tròn vị, gạo ngon mỗi ngày
        </span>
        <div class="row-view6">
            <div class="column3">
                <span class="text11" >
                    Gạo hữu cơ
                </span>
                <div class="column4">
                    <span class="text12" >
                        Các loại gạo không hóa chất, hướng đến sức khỏe và an toàn.
                    </span>
                    <img
                        src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/eyio3cjj.png" 
                        class="image6"
                    />
                    <span class="text13" >
                        Xem thêm >
                    </span>
                </div>
            </div>
            <div class="column5" >
                <span class="text11" style="color: #CB793D;" >
                    Gạo đặc sản
                </span>
                <div class="column6">
                    <span class="text12" >
                        Các loại gạo cao cấp, với vị đặc trưng của các vùng miền, phù hợp cho dịp đặc biệt.
                    </span>
                    <img
                        src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/eyio3cjj.png" 
                        class="image6"
                    />
                    <span class="text13" >
                        Xem thêm >
                    </span>
                </div>
            </div>
            <div class="column71">
                <span class="text11" style="color: #4E733D;" >
                    Gạo dưỡng
                </span>
                <div class="column4">
                    <span class="text12" >
                        Nhóm gạo giàu dưỡng chất, phù hợp với chế độ ăn lành mạnh.
                    </span>
                    <img
                        src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/eyio3cjj.png" 
                        class="image6"
                    />
                    <span class="text13" >
                        Xem thêm >
                    </span>
                </div>
            </div>
            <div class="column7">
                <span class="text11" style="color: #6B3F22;" >
                    Gạo tiêu dùng
                </span>
                <div class="column4">
                    <span class="text12" >
                        Các loại gạo phổ biến, thơm ngon, phù hợp cho mọi bữa ăn gia đình.

                    </span>
                    <img
                        src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/eyio3cjj.png" 
                        class="image6"
                    />
                    <span class="text13" >
                        Xem thêm >
                    </span>
                </div>
            </div>
        </div>
        <div class="row-view9">
            <div class="row-view10">
                <img
                    src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/dpg63mis.png" 
                    class="image9"
                />
                <div class="column8">
                    <span class="text21" >
                        Cơm lành gạo sạch
                        <br>Thơm thảo quê hương
                    </span>
                    <div class="view3">
                        <button class="button3"
                            onclick="alert('Pressed!')">
                            <span class="text4" >
                                Mua ngay
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row-view11">
                
                <div class="column9">
                    <span class="text22" >
                        Cơm thơm vị đậm
                        <br>Bữa ấm tình thân
                    </span>
                    <button class="button4"
                        onclick="alert('Pressed!')">
                        <span class="text4" >
                            Mua ngay
                        </span>
                    </button>
                </div>
                <img
                    src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/jr05w9z4.png" 
                    class="image10"
                />
            </div>
        </div>
        <div class="column10">
            <span class="text23" >
                Chọn gạo tinh hoa, bữa cơm đậm đà
            </span>
            <span class="text24" >
                Hạt gạo tinh hoa từ đồng lúa Việt Nam
            </span>
            <div class="row-view12">
                <div class="column11">
                    <div class="column12">
                        <span class="text25" >
                            Gạo Trắng - Organic White Rice
                        </span>
                        <img
                            src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/pehkdr1b.png" 
                            class="image11"
                        />
                        <div class="row-view13">
                            <div class="column13">
                                <span class="text26" >
                                    4.5k đã bán
                                </span>
                                <span class="text27" >
                                    135.000 VND
                                </span>
                            </div>
                            <div class="view5">
                                <span class="text28" >
                                    -30%
                                </span>
                            </div>
                            
                            <button class="button6"
                                onclick="alert('Pressed!')">
                                    <img
                                    src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/zddd6ole.png" 
                                    class="image12"/>
                            </button>
                            
                        </div>
                    </div>
                    <img
                        src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/hxxxreeu.png" 
                        class="absolute-image"
                    />
                </div>
                <div class="column11">
                    <div class="column14">
                        <span class="text25" >
                            Gạo Trắng - Organic White Rice
                        </span>
                        <img
                            src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/p68yt5um.png" 
                            class="image11"
                        />
                        <div class="row-view13">
                            <div class="column13">
                                <span class="text26" >
                                    4.5k đã bán
                                </span>
                                <span class="text27" >
                                    135.000 VND
                                </span>
                            </div>
                            <div class="view5">
                                <span class="text28" >
                                    -30%
                                </span>
                            </div>
                            <button class="button6"
                                onclick="alert('Pressed!')">
                                    <img
                                    src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/zddd6ole.png" 
                                    class="image12"/>
                            </button>
                        </div>
                    </div>
                    <img
                        src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/swif8zma.png" 
                        class="absolute-image"
                    />
                </div>
                <div class="column11">
                    <div class="column14">
                        <span class="text29" >
                            Gạo Trắng - Organic White Rice
                        </span>
                        <img
                            src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/1oof6km9.png" 
                            class="image11"
                        />
                        <div class="row-view13">
                            <div class="column13">
                                <span class="text26" >
                                    4.5k đã bán
                                </span>
                                <span class="text27" >
                                    135.000 VND
                                </span>
                            </div>
                            <div class="view5">
                                <span class="text28" >
                                    -30%
                                </span>
                            </div>
                            <button class="button6"
                                onclick="alert('Pressed!')">
                                    <img
                                    src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/zddd6ole.png" 
                                    class="image12"/>
                            </button>
                        </div>
                    </div>
                    <img
                        src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/evw11xpd.png" 
                        class="absolute-image"
                    />
                </div>
                <div class="column11">
                    <div class="column14">
                        <span class="text29" >
                            Gạo Trắng - Organic White Rice
                        </span>
                        <img
                            src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/22v1w135.png" 
                            class="image11"
                        />
                        <div class="row-view13">
                            <div class="column13">
                                <span class="text26" >
                                    4.5k đã bán
                                </span>
                                <span class="text27" >
                                    135.000 VND
                                </span>
                            </div>
                            <div class="view5">
                                <span class="text28" >
                                    -30%
                                </span>
                            </div>
                            <button class="button6"
                                onclick="alert('Pressed!')">
                                    <img
                                    src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/zddd6ole.png" 
                                    class="image12"/>
                            </button>
                        </div>
                    </div>
                    <img
                        src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/be7p4h7y.png" 
                        class="absolute-image"
                    />
                </div>
            </div>
            <div class="row-view14">
                <div class="column11">
                    <div class="column15">
                        <span class="text25" >
                            Gạo Trắng - Organic White Rice
                        </span>
                        <img
                            src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/oxrjvqn3.png" 
                            class="image11"
                        />
                        <div class="row-view13">
                            <div class="column13">
                                <span class="text26" >
                                    4.5k đã bán
                                </span>
                                <span class="text27" >
                                    135.000 VND
                                </span>
                            </div>
                            <div class="view6">
                                <span class="text28" >
                                    -30%
                                </span>
                            </div>
                            <button class="button6"
                                onclick="alert('Pressed!')">
                                    <img
                                    src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/zddd6ole.png" 
                                    class="image12"/>
                            </button>
                        </div>
                    </div>
                    <img
                        src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/hq7c3ilm.png" 
                        class="absolute-image"
                    />
                </div>
                <div class="column11">
                    <div class="column16">
                        <span class="text25" >
                            Gạo Trắng - Organic White Rice
                        </span>
                        <img
                            src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/3fqat4bk.png" 
                            class="image11"
                        />
                        <div class="row-view13">
                            <div class="column13">
                                <span class="text26" >
                                    4.5k đã bán
                                </span>
                                <span class="text27" >
                                    135.000 VND
                                </span>
                            </div>
                            <div class="view6">
                                <span class="text28" >
                                    -30%
                                </span>
                            </div>
                            <button class="button6"
                                onclick="alert('Pressed!')">
                                    <img
                                    src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/zddd6ole.png" 
                                    class="image12"/>
                            </button>
                        </div>
                    </div>
                    <img
                        src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/ypb39nms.png" 
                        class="absolute-image"
                    />
                </div>
                <div class="column11">
                    <div class="column16">
                        <span class="text29" >
                            Gạo Trắng - Organic White Rice
                        </span>
                        <img
                            src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/74lprsw9.png" 
                            class="image11"
                        />
                        <div class="row-view13">
                            <div class="column13">
                                <span class="text26" >
                                    4.5k đã bán
                                </span>
                                <span class="text27" >
                                    135.000 VND
                                </span>
                            </div>
                            <div class="view6">
                                <span class="text28" >
                                    -30%
                                </span>
                            </div>
                            <button class="button6"
                                onclick="alert('Pressed!')">
                                    <img
                                    src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/zddd6ole.png" 
                                    class="image12"/>
                            </button>
                        </div>
                    </div>
                    <img
                        src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/lc3jkwl3.png" 
                        class="absolute-image"
                    />
                </div>
                <div class="column11">
                    <div class="column16">
                        <span class="text29" >
                            Gạo Trắng - Organic White Rice
                        </span>
                        <img
                            src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/1yrdj4yg.png" 
                            class="image11"
                        />
                        <div class="row-view13">
                            <div class="column13">
                                <span class="text26" >
                                    4.5k đã bán
                                </span>
                                <span class="text27" >
                                    135.000 VND
                                </span>
                            </div>
                            <div class="view6">
                                <span class="text28" >
                                    -30%
                                </span>
                            </div>
                            <button class="button6"
                                onclick="alert('Pressed!')">
                                    <img
                                    src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/zddd6ole.png" 
                                    class="image12"/>
                            </button>
                        </div>
                    </div>
                    <img
                        src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/j7cnforb.png" 
                        class="absolute-image"
                    />
                </div>
            </div>
        </div>
        <div class="row-view15">
            <div class="column17">
                <span class="text30" >
                    Giao hàng trong ngày từ 10:00 AM - 8:00 PM cho các đơn hàng tại khu vực TP.HCM.
                </span>
                <span class="text31" >
                    Áp dụng cho đơn hàng trên 300.000đ
                </span>
                <button class="button5"
                    onclick="alert('Pressed!')">
                    <span class="text4" >
                        Mua ngay
                    </span>
                </button>
            </div>
            <div class="column18">
                <img
                    src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/wdagyhlc.png" 
                    class="image13"
                />
                <span class="absolute-text" >
                    VẬN CHUYỂN NHANH
                    <br>CƠM NGON ĐẾN MỌI NHÀ
                </span>
            </div>
        </div>
        <div class="column19">
            <span class="text32" >
                Gạo Nắng Mai trân quý từng niềm tin, từng bữa cơm ngon của khách hàng.
            </span>
            <span class="text33" >
                NIỀM TIN TỪ NGƯỜI TIÊU DÙNG CỦA GẠO NẮNG MAI
            </span>
            <div class="column20">
                <div class="row-view16">
                    <img
                        src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/ccqq0gjp.png" 
                        class="image14"
                    />
                    <div class="column21">
                        <span class="text34" >
                            Nguyễn Thị Hoa
                        </span>
                        <span class="text35" >
                            TP. Hồ Chí Minh
                        </span>
                        <span class="text36" >
                            Gia đình tôi luôn tin tưởng vào chất lượng gạo của Gạo Nắng Mai. Mỗi bữa cơm trở nên ngon hơn và ấm áp hơn nhờ vào những hạt gạo thơm dẻo này. Tôi cảm thấy an tâm vì sản phẩm luôn đảm bảo vệ sinh và chất lượng tuyệt vời. Cảm ơn Gạo Nắng Mai vì đã mang đến sản phẩm đáng tin cậy!
                        </span>
                        <img
                            src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/bejepr28.png" 
                            class="image15"
                        />
                    </div>
                </div>
                <button class="button6"
                    onclick="alert('Pressed!')">
                         <img
                    src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/m6hf9fx1.png"  
                    class="absolute-image2"/>
                </button>
                <button class="button6"
                    onclick="alert('Pressed!')">
                         <img
                         src="https://storage.googleapis.com/tagjs-prod.appspot.com/HK5l9mCfUg/xp11vwis.png"
                    class="absolute-image3"/>
                </button>
            </div>
        </div>
        <div class="view7">
            <div class="column22">
                <div class="column23">
                    <div class="box">
                    </div>
                    <div class="view8">
                        <div class="column24">
                            <span class="text37" >
                                Hạt gạo nhỏ bé, nghĩa tình lớn lao - Bữa cơm ấm áp, yêu thương dạt dào.
                            </span>
                            <span class="text38" >
                                CHUYỆN GẠO, CHUYỆN NHÀ
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row-view17">
                    <div class="view9">
                        <div class="column25">
                            <span class="text39" >
                                Chuyện hạt gạo
                            </span>
                            <span class="text40" >
                                Mỗi loại gạo mang một hương vị riêng, hiểu rõ để chọn đúng loại gạo cho từng bữa ăn.
                            </span>
                        </div>
                    </div>
                    <div class="column26">
                        <div class="view10">
                            <div class="column27">
                                <span class="text41" >
                                    Chuyện bếp ấm
                                </span>
                                <span class="text42" >
                                    Mẹo nấu cơm ngon, giữ trọn hương vị tự nhiên từ hạt gạo.
                                </span>
                            </div>
                        </div>
                        <div class="view11">
                            <div class="column28">
                                <span class="text43" >
                                    Chuyện con người
                                </span>
                                <span class="text44" >
                                    Những câu chuyện từ khách hàng và những người đã, đang đồng hành cùng Gạo Nắng Mai.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
</body>